html {
	font-family: Arial, "Times New Roman";
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#new_question {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 2rem;
	background-color: lightblue;
	border-radius: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* box-shadow effect from w3school */
}

div#new_question > h1 {
	align-self: center;
}

div#new_question > a { /* Back button */
	align-self: flex-start;
	text-decoration: none;
	background-color: #8695a4;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09); /* box-shadow effect from w3school */
	font-size: large;
}

div#new_question > a:hover {
	background-color: #6a7b8d;
}

div#new_question > a:visited, div#new_question > a:active {
	color: inherit; /*do not change the colour*/
}

div#new_question > label {
	padding: 0.5rem 0;
}

div#new_question > label:nth-child(5), div#new_question > label:nth-child(7){
	margin-top: 1rem;
}

div#new_question button {
	margin-top: 1rem;
}

span {
	display: none;
	color: red;
	margin: 1rem 0 0 0;
}

div#new_question>button {
	padding: 0.25rem 1rem;
}

input, textarea {
	width: 30rem;
}

#space > input {
	width: 1rem;
}

#space > label {
	margin-right: 1rem;
}

textarea {
	height: 10rem;
}

button {
	background-color: #8695a4;
	padding: 0.5rem 1rem;
	border: 0;
	border-radius: 0.25rem;
	font-size: large;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09); /* box-shadow effect from w3school */
}

button:hover {
	background-color: #6a7b8d;
	cursor: pointer;
}

/* Smaller screen than 1080px */
@media only screen and (max-width: 1079px) {
	div#new_question {
		padding: 1rem 1rem;
		border-radius: 1rem;
	}
	
	div#new_question > a { /* Back button */
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		font-size: medium;
	}	
	
	div#new_question > label:nth-child(5), div#new_question > label:nth-child(7){
		margin-top: 0.5rem;
	}
	
	div#new_question button {
		margin-top: 0.5rem;
	}
	
	div#new_question > h1 {
		font-size: large;
	}
	
	input, textarea {
		width: 100%;
	}	
	
	textarea {
		height: 5rem;
	}
	
	div#new_question>button {
		padding: 0.25rem 0.5rem;
	}	
	
	button {
		padding: 0.25rem 0.5rem;
		font-size: medium;
	}
}

@media only screen and (max-width: 600px) {
	div#new_question {
		width: 90%;
	}
}